<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
			http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.1.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<context:annotation-config />
	<bean id="AppointPhotoDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/AppointPhoto" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

	<bean id="SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="AppointPhotoDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.appointphoto.model.User</value>
				<value>com.appointphoto.model.UserPictures</value>
				<value>com.appointphoto.model.CheckUser</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>

		</property>
	</bean>

	<bean id="TxManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="AppointPhotoDataSource" />
	</bean>

	<aop:config>
		<aop:pointcut id="bussinessService"
			expression="execution(public * com.appointphoto.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService" advice-ref="TxAdvice" />
	</aop:config>

	<tx:advice id="TxAdvice" transaction-manager="TxManager">
		<tx:attributes>
			<tx:method name="exists" read-only="true" />
			<tx:method name="add*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<bean id="MyHibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="SessionFactory"></property>
	</bean>

	<bean id="UserDaoImpl" class="com.appointphoto.impl.UserDaoImpl">
		<property name="hibernateTemplate" ref="MyHibernateTemplate"></property>
	</bean>

	<bean id="UserPicturesDaoImpl" class="com.appointphoto.impl.UserPicturesDaoImpl">
		<property name="hibernateTemplate" ref="MyHibernateTemplate"></property>
	</bean>
	
	<bean id="CheckUserDaoImpl" class="com.appointphoto.impl.CheckUserDaoImpl">
		<property name="hibernateTemplate" ref="MyHibernateTemplate"></property>
	</bean>
	
	<bean id="UserManager" class="com.appointphoto.service.UserManager">
		<property name="userDao" ref="UserDaoImpl" />
		<property name="userPicturesDao" ref="UserPicturesDaoImpl" />
		<property name="checkUserDao" ref="CheckUserDaoImpl" />
	</bean>
	<bean id="userLoginAction" class="com.appointphoto.action.UserLoginAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
    
    <bean id="adminLoginAction" class="com.appointphoto.action.AdminLoginAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
    
    <bean id="userRegisterAction" class="com.appointphoto.action.UserRegisterAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
     <bean id="userUploadImageAction" class="com.appointphoto.action.UserUploadImageAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
    
    
    <bean id="webUserUploadImageAction" class="com.appointphoto.action.WebUserUploadImageAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
    
    <bean id="checkUserAction" class="com.appointphoto.action.CheckUserAction" scope="prototype">
        <property name="um" ref="UserManager"></property>
    </bean>
</beans>
	 
